html {
    --body-bg: papayawhip;
    --body-text: chocolate;
    --main-bg: #009688;
    --header-bg: #80CBC4;
    --footer-bg: #80CBC4;
    --nav-bg: #00695C;
    --aside-bg: #00695C;
    --article-bg: #009688;
    --main-text: #fff;
    --alt-text: #111;
    --gutter: 1em;
}

body {
    font: 500 18px/1.5 Helvetica,Arial,sans-serif;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background-color: var(--body-bg);
    color: var(--body-text);
    margin: 0;
    padding: 0;
}

#home-container {
    height: calc(100vh - 2 * var(--gutter));
    display: grid;
    grid:
        "hdr hdr hdr"
        "nav art asd"
        "ftr ftr ftr";
    grid-template-columns: auto 1fr 15%;
    grid-gap: var(--gutter) var(--gutter);
    padding: var(--gutter);
    color: var(--main-text);
    background-color: var(--main-bg);
}

@media all and (max-width: 1200px) {
    #home-container {
        display: block;
    }
}

a {
    color: var(--main-text);
}

a::active, a::hover {
    color: var(--main-text);
}

a::visited {
    color: var(--main-text);
    font-weight: 300;
}

article {
    grid-area: art;
    min-width: 10em;
    background-color: var(--main-bg);
}

nav {
    grid-area: nav;
    background-color: var(--nav-bg);
}

aside {
    grid-area: asd;
    min-width: 10em;
    background-color: var(--aside-bg);
}

header {
    grid-area: hdr;
    background-color: var(--header-bg);
    color: var(--alt-text);
}

footer {
    grid-area: ftr;
    background-color: var(--footer-bg);
    color: var(--alt-text);
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(0.5 * var(--gutter));
}

.grid-item--column {
    flex-direction: column;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
